* {
	font-size: 12px;
	font-weight: bold;
	color: #4c566a;
}

window#waybar.hidden {
	opacity: 0;
}

window#waybar {
	background-color: transparent;
}

label {
	padding: 4px;
}

.modules-left {
	margin: 8px 0 0 8px;
}

.modules-center {
	margin: 8px 0 0 0;
}

.modules-right {
	margin: 8px 8px 0 0;
}
