*, {
	color: #4c566a;
	border: none;
	border-radius: 0;
}

#window {
	background-color: transparent;
}

#outer-box {
	background-color: #81a1c1;
	border: 2px solid #88c0d0;
}

#input {
	background-color: transparent;
}

#text {
	background-color: trasnparent;
}

#entry:selected {
	background-color: #88c0d0;
}
